{% extends "estructura.html" %}
{% load static %}
{% block contenido %}

<main> 
    <br><br>

    <div class="banner">
        <img class="img-banner" src="../static/img/banner.jpg" alt="Banner">
    </div>

    <div class="seccion-conocenos">

        <div class="inicio-preguntas">

            <div class="pregunta-info">
                <div class="div-texto columna-derecha">
                    <h3 class="titulo-pregunta">¿Quiénes somos?</h3>
                    <p class="parrafo-info">
                        Somos una empresa creada en el año 2020, ubicada en La Aurora, en el municipio de 
                        Tepeyanco, dentro del estado de Tlaxcala. Nos dedicamos a la purificación y 
                        distribución de agua, bajo los criterios de la norma <span class="txt-resaltado">
                        NOM-201SSA1-2015</span> y estándares certificados por la <span class="txt-resaltado">
                        COEPRIST</span>, para poder brindar un producto de la más alta calidad 
                        a nuestros clientes. También contamos con la afiliación a la <span class="txt-resaltado">
                        CANACO Servytur.</span>
                    </p>
                </div>
                <div class="icono-pregunta-info columna-izquierda">
                    <img class="iconos-img" src="../static/img/quienes.png" alt="¿Quiénes somos?">
                </div>
            </div>

            <div class="pregunta-info">
                <div class="div-texto columna-izquierda">
                    <h3 class="titulo-pregunta">¿Qué nos diferencia?</h3>
                    <p class="parrafo-info">
                        Ofrecemos <span class="txt-resaltado">agua artesanal</span> de origen, cumpliendo con 
                        los permisos de funcionamiento y estudios de potabilidad. Operamos con un sistema de 
                        osmosis inversa que se complementa con filtros de suavizado, carbón activado, filtro 
                        de eliminación de sólidos, sistema de iones de plata y desinfección con ozono, que nos
                        asegura agua artesanal de calidad. Contamos con sistema de facturación fiscal.
                        
                    </p>
                </div>
                <div class="icono-pregunta-info columna-derecha">
                    <img class="iconos-img" src="../static/img/diferencia.png" alt="¿Qué nos diferencia?">
                </div>
            </div>

            <div class="pregunta-info">
                <div class="div-texto columna-derecha">
                    <h3 class="titulo-pregunta">¿Hacia dónde vamos?</h3>
                    <p class="parrafo-info">
                        A ser una empresa innovadora y líder en la distribución de agua purificada con los 
                        más altos estándares de calidad, ofreciendo un producto que supere las expectativas 
                        de los consumidores. 
                    </p>
                </div>
                <div class="icono-pregunta-info columna-izquierda">
                    <img class="iconos-img" src="../static/img/vamos.png" alt="¿Hacia dónde vamos?">
                </div>
            </div>

            <div class="pregunta-info">
                <div class="div-texto columna-izquierda">
                    <h3 class="titulo-pregunta">¿Qué necesitamos para lograrlo?</h3>
                    <p class="parrafo-info">
                        Compromiso permanente para satisfacer la demanda de nuestros clientes. Esto significa 
                        que estamos dedicados a cumplir con sus necesidades y expectativas en todo momento.
                    </p>
                </div>
                <div class="icono-pregunta-info columna-derecha">
                    <img class="iconos-img" src="../static/img/cooperar.png" alt="¿Qué necesitamos para lograrlo?">
                </div>
            </div>

        </div>      

        <div class="div-MVO">
            <div class="div-MVO-txt">
                <h3 class="titulo-pregunta titulo-MVO">Misión</h3>
                <p class="parrafo-info parrafo-MVO">
                    Brindar a los consumidores un producto vital con calidad y eficiencia.
                </p>
            </div>
            <div class="div-MVO-txt">
                <h3 class="titulo-pregunta titulo-MVO">Visión</h3>
                <p class="parrafo-info parrafo-MVO">
                    Garantizar el suministro y distribución de agua purificada, generando confianza y 
                    satisfacción; colocándonos como una empresa líder en el Estado. 
                </p>
            </div>
        </div>
    
        <div class="div-obj">
            <div class="div-MVO-txt">
                <h3 class="titulo-pregunta titulo-MVO">Objetivos</h3>
                <p class="parrafo-info parrafo-MVO">
                    <ul>
                        <li class="lista-estilo">Producir y vender agua purificada de excelente calidad. </li>
                        <li class="lista-estilo"> Mantener una supervisión estricta en cada uno de nuestros procesos de producción.</li>
                        <li class="lista-estilo">Cumplir el compromiso de responsabilidad social, generación de empleo y contribución al fortalecimiento económico del Estado.</li>
                    </ul>
                </p>
            </div>
        </div>

    </div>

    
    
</main>

{% endblock %}